.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 0;

  > div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  > .input {
    width: 350px;
    height: 40px;

    background: #ffffff;
    border-radius: 100px;
    padding: 12px 16px;

    > input {
      background: none;
      outline: none;
      border: none;
    }
  }
}
