@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #336cfb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  padding: 0 36px;
  margin-left: 256px;
  transition: margin-left 500ms;
}
